.page {
    margin: 0;

    font-family: 'Montserrat', sans-serif;

    color: #323232;
}

.container {
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


@media (max-width: 1169px) {
    .container {
        width: 510px;
    }
}


@media (max-width: 545px) {
    .container {
        width: 100%;
        padding: 0 7px;
    }
}

