.page {
    margin: 0;

    font-family: 'Montserrat', sans-serif;

    color: #323232;
}

.container {
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
}


@media (max-width: 1169px) {
    .container {
        width: 510px;
    }
}


@media (max-width: 545px) {
    .container {
        width: 100%;
        padding: 0 7px;
    }
}

