@import 'libs/tiny-slider';
@import 'global';
@import 'fonts';
@import 'blocks/btn';
@import 'blocks/header';
@import 'blocks/slider';
@import 'blocks/catalog';
@import 'blocks/about';
@import 'blocks/gallery';
// @import 'blocks/footer';
