.about {
    min-height: 565px;
    margin-bottom: 85px;
    padding-top: 43px;
    padding-right: 585px;

    background-image: url('../img/bg-about.jpg');
    background-repeat: no-repeat;
    background-position: right top;
}

.about__title {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;

    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
}

.about__text {
    margin: 0;
    margin-bottom: 23px;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.about__btn {
    padding: 0 13px;

    letter-spacing: 0.35px;
    text-decoration: none;
}


@media (max-width: 1169px) {
    .about {
        min-height: 100px;
        margin-bottom: 46px;
        padding-top: 0;
        padding-right: 0;

        text-align: center;

        background-image: none;
    }

    .about__title {
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 16px;

        font-size: 16px;
        line-height: 24px;
    }

    .about__text {
        max-width: 425px;
        margin: 0 auto;
        margin-bottom: 18px;

        font-size: 12px;
        line-height: 18px;
    }

    .about__text br {
        display: none;
    }

    .about__btn {
        width: 150px;
        margin: 0 auto;
        padding: 0 13px;
    }
}


@media (max-width: 545px) {
    .about {
        margin-bottom: 45px;
        padding: 0;
    }

    .about__title {
        max-width: 280px;
        margin-bottom: 15px;

        font-size: 14px;
        line-height: 18px;
    }

    .about__text {
        max-width: 300px;
        margin-bottom: 18px;

        font-size: 11px;

        &:nth-last-of-type(1) {
            max-width: 250px;
            margin-bottom: 16px;
        }
    }


    .about__btn {
        width: 150px;
        margin: 0 auto;
        padding: 0 13px;
    }
}
