.btn {
    display: inline-block;
    width: 150px;
    height: 29px;
    margin: 0;
    box-sizing: border-box;

    font-size: 12px;
    line-height: 29px;
    letter-spacing: 1.35px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;

    color: inherit;
    background-color: transparent;
    border: 1px solid #323232;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 3px 6px rgba(50,50,50,0.31);
    }

    &--green {
        background-color: #1d521a;
        border: none;
        color: #ffffff;

        &:hover {
            background-image: linear-gradient(-2deg, #345927 42%, #8bc53c 100%);
            box-shadow: none;
        }
    }

    &--white {
        letter-spacing: 0.35px;

        border: 1px solid #ffffff;
        color: #ffffff;

        &:hover {
            color: #323232;
            border-radius: 4px;
            background-color: #ffffff;
            border: 1px solid #ffffff;
        }
    }
}
