.catalog {
    margin-bottom: 47px;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0;

    list-style: none;
}

.catalog__list-item {
    display: block;
    width: 195px;
    height: 72px;
    margin-right: 41px;
    margin-bottom: 25px;

    box-shadow: 0px 1px 4px rgba(50,50,50,0.31);
    background-color: #ffffff;

    &:nth-child(5n) {
        margin-right: 0;
    }
}

.catalog__list-item a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 68px;
    padding-right: 13px;
    box-sizing: border-box;

    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;

    color: #1e521a;
    background-repeat: no-repeat;
}

.catalog__list-item--pine a {
    background-image: url('../img/pine.jpg');
    background-position: 2px 18px;
}

.catalog__list-item--deciduous-trees a {
    background-image: url('../img/deciduous-trees.jpg');
    background-position: 2px 21px;
}

.catalog__list-item--deciduous-shrubs a {
    background-image: url('../img/deciduous-shrubs.jpg');
    background-position: 2px 19px;
}

.catalog__list-item--fruit-trees a {
    background-image: url('../img/fruit-trees.jpg');
    background-position: 0 21px;
}

.catalog__list-item--fruit-bushes a {
    background-image: url('../img/fruit-bushes.jpg');
    background-position: 3px 19px;
}

.catalog__list-item--perennials a {
    background-image: url('../img/perennials.jpg');
    background-position: 0px 19px;
}

.catalog__list-item--heather-plants a {
    background-image: url('../img/heather-plants.jpg');
    background-position: 3px 19px;
}

.catalog__list-item--creepers a {
    background-image: url('../img/creepers.jpg');
    background-position: 1px 20px;
}

.catalog__list-item--roses a {
    background-image: url('../img/roses.jpg');
    background-position: 1px 20px;
}

.catalog__list-item--moldedplants a {
    background-image: url('../img/moldedplants.jpg');
    background-position: 5px 20px;
}

.catalog__list-item--garden-products a {
    background-image: url('../img/garden-products.jpg');
    background-position: 2px 21px;
}

.catalog__list-item--soils-and-fertilizers a {
    background-image: url('../img/soils-and-fertilizers.jpg');
    background-position: 0 20px;
}

.catalog__list-item--water-plants a {
    background-image: url('../img/water-plants.jpg');
    background-position: 11px 15px;
}

.catalog__list-item--gift-certificates a {
    background-image: url('../img/gift-certificates.jpg');
    background-position: 3px 22px;
}


@media (max-width: 1169px) {
    .catalog {
        margin-bottom: 32px;
    }

    .catalog__list-item {
        width: 118px;
        height: 99px;
        margin-right: 12px;
        margin-bottom: 12px;

        &:nth-child(5n) {
            margin-right: 12px;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    .catalog__list-item a {
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 45px;

        text-align: center;
    }

    .catalog__list-item--pine a {
        padding-top: 30px;

        background-position: 27px 9px;
    }

    .catalog__list-item--deciduous-trees a {
        background-position: 28px 10px;
    }

    .catalog__list-item--deciduous-shrubs a {
        background-position: 26px 9px;
    }

    .catalog__list-item--fruit-trees a {
        background-position: 26px 10px;
    }

    .catalog__list-item--fruit-bushes a {
        background-position: 27px 9px;
    }

    .catalog__list-item--perennials a {
        padding-top: 30px;

        background-position: 24px 10px;
    }

    .catalog__list-item--heather-plants a {
        background-position: 29px 6px;
    }

    .catalog__list-item--creepers a {
        padding-top: 30px;

        background-position: 24px 9px;
    }

    .catalog__list-item--roses a {
        padding-top: 30px;

        background-position: 28px 11px;
    }

    .catalog__list-item--moldedplants a {
        background-position: 26px 10px;
    }

    .catalog__list-item--garden-products a {
        background-position: 27px 13px;
    }

    .catalog__list-item--soils-and-fertilizers a {
        background-position: 26px 13px;
    }

    .catalog__list-item--water-plants {
        margin-left: auto;
        margin-right: 13px;
    }

    .catalog__list-item--water-plants a {
        background-position: 36px 7px;
    }

    .catalog__list-item--gift-certificates {
        margin-right: auto;
    }

    .catalog__list-item--gift-certificates a {
        background-position: 26px 14px;
    }
}


@media (max-width: 545px) {
    .catalog {
        margin-bottom: 26px;
    }

    .catalog__list {
        justify-content: space-between;
        width: 320px;
        padding: 0 7px;
    }

    .catalog__list-item {
        width: 148px;
        height: 60px;
        margin-right: 0;
        margin-bottom: 10px;

        &:nth-child(5n) {
            margin-right: 0;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    .catalog__list-item {
        margin-left: 0;
    }

    .catalog__list-item a {
        justify-content: flex-start;
        padding-top: 0;
        padding-left: 50px;

        text-align: left;
    }

    .catalog__list-item--pine a {
        padding-top: 0;

        background-position: -6px 12px;
    }

    .catalog__list-item--deciduous-trees a {
        background-position: -6px 12px;
    }

    .catalog__list-item--deciduous-shrubs a {
        background-position: -7px 9px;
    }

    .catalog__list-item--fruit-trees a {
        background-position: -9px 13px;
    }

    .catalog__list-item--fruit-bushes a {
        background-position: -10px 12px;
    }

    .catalog__list-item--perennials a {
        background-position: -10px 13px;
    }

    .catalog__list-item--heather-plants a {
        background-position: -6px 13px;
    }

    .catalog__list-item--creepers a {
        background-position: -12px 14px;
    }

    .catalog__list-item--roses a {
        background-position: -4px 14px;
        background-size: 61px auto;
    }

    .catalog__list-item--moldedplants a {
        background-position: -11px 12px;
    }

    .catalog__list-item--garden-products a {
        background-position: 2px 18px;
        background-size: 48px auto;
    }

    .catalog__list-item--soils-and-fertilizers a {
        background-position: -10px 13px;
    }

    .catalog__list-item--water-plants a {
        background-position: 3px 11px;
        background-size: 45px auto;
    }

    .catalog__list-item--gift-certificates a {
        background-position: -2px 18px;
        background-size: 50px auto;
    }
}
