@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap&subset=cyrillic");
.tns-outer {
  padding: 0 !important; }

.tns-outer [hidden] {
  display: none !important; }

.tns-outer [aria-controls], .tns-outer [data-action] {
  cursor: pointer; }

.tns-slider {
  -webkit-transition: all 0s;
  transition: all 0s; }

.tns-slider > .tns-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tns-horizontal.tns-subpixel {
  white-space: nowrap; }

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal; }

.tns-horizontal.tns-no-subpixel:after {
  content: '';
  display: table;
  clear: both; }

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left; }

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%; }

.tns-no-calc {
  position: relative;
  left: 0; }

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px; }

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  -webkit-transition: transform 0s, opacity 0s;
  -webkit-transition: opacity 0s, -webkit-transform 0s;
  transition: opacity 0s, -webkit-transform 0s;
  transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s, -webkit-transform 0s; }

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important; }

.tns-gallery > .tns-moving {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.tns-autowidth {
  display: inline-block; }

.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6; }

.tns-lazy-img.tns-complete {
  opacity: 1; }

.tns-ah {
  -webkit-transition: height 0s;
  transition: height 0s; }

.tns-ovh {
  overflow: hidden; }

.tns-visually-hidden {
  position: absolute;
  left: -10000em; }

.tns-transparent {
  opacity: 0;
  visibility: hidden; }

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0; }

.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1; }

.tns-vpfix {
  white-space: nowrap; }

.tns-vpfix > div, .tns-vpfix > li {
  display: inline-block; }

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden; }

.tns-t-ct {
  width: 2333.3333333%;
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0; }

.tns-t-ct:after {
  content: '';
  display: table;
  clear: both; }

.tns-t-ct > div {
  width: 1.4285714%;
  width: calc(100% / 70);
  height: 10px;
  float: left; }
.page {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #323232; }

.container {
  width: 1140px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@media (max-width: 1169px) {
  .container {
    width: 510px; } }

@media (max-width: 545px) {
  .container {
    width: 100%;
    padding: 0 7px; } }

.btn {
  display: inline-block;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  line-height: 29px;
  letter-spacing: 1.35px;
  font-weight: 500;
  vertical-align: middle;
  color: inherit;
  background-color: transparent;
  border: 1px solid #323232;
  border-radius: 4px;
  cursor: pointer; }
  .btn:hover {
    -webkit-box-shadow: 0px 3px 6px rgba(50, 50, 50, 0.31);
            box-shadow: 0px 3px 6px rgba(50, 50, 50, 0.31); }
  .btn--green {
    background-color: #1d521a;
    border: none;
    color: #ffffff; }
    .btn--green:hover {
      background-image: linear-gradient(-2deg, #345927 42%, #8bc53c 100%);
      -webkit-box-shadow: none;
              box-shadow: none; }

.header {
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 11px;
  background-color: #ececec; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.header__nav {
  font-size: 0; }

.header__nav-link {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-right: 25px;
  padding: 0;
  font-size: 12px;
  line-height: 30px;
  font-weight: 400;
  vertical-align: middle;
  text-decoration: none;
  color: inherit; }
  .header__nav-link--green {
    color: #1E531B; }
  .header__nav-link:nth-last-of-type(1) {
    margin-right: 0; }
  .header__nav-link:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 1px;
    background-color: #323232; }
  .header__nav-link--green:hover::before {
    background-color: #1E531B; }

.header__link {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-decoration: none;
  color: inherit; }
  .header__link::before {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat; }
  .header__link--phone {
    margin-left: auto;
    padding-left: 21px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.35px; }
    .header__link--phone::before {
      top: 5px;
      left: 0;
      width: 15px;
      height: 19px;
      background-image: url("../img/icon-phone.png"); }
  .header__link--login {
    margin-left: 93px;
    padding-left: 25px;
    font-size: 12px;
    line-height: 30px; }
    .header__link--login::before {
      top: 5px;
      left: 0;
      width: 16px;
      height: 17px;
      background-image: url("../img/icon-login.png"); }

.header__btn-callback {
  margin-left: 68px;
  padding: 0 15px; }

@media (max-width: 1169px) {
  .header {
    padding-top: 4px;
    padding-bottom: 3px; }
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__nav {
    display: none; }
  .header__link,
  .header__btn-callback {
    margin-left: 0; }
  .header__link {
    line-height: 28px; }
    .header__link--phone {
      padding-left: 22px; }
      .header__link--phone::before {
        left: 2px; }
    .header__link--login {
      padding-left: 36px;
      font-size: 10px; }
      .header__link--login::before {
        left: 8px; }
  .header__btn-callback {
    padding: 0 16px;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 1.15px; } }

@media (max-width: 545px) {
  .header {
    padding-top: 0;
    padding-bottom: 0; }
  .header__btn-callback {
    display: none; }
  .header__link--phone {
    font-size: 12px;
    line-height: 26px; }
  .header__link--login {
    padding-left: 36px;
    line-height: 30px; }
    .header__link--login::before {
      top: 6px;
      left: 14px; } }

.slider {
  position: relative;
  margin-bottom: 91px; }

.slider__item {
  min-height: 375px;
  padding-left: 668px;
  padding-top: 112px;
  padding-right: 82px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/slider.jpg");
  background-repeat: no-repeat;
  background-position: center top; }

.slider__item-title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: right; }

.slider__item-text {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: right; }

.slider__item-btn {
  float: right;
  padding: 0 38px;
  letter-spacing: 0.35px;
  text-decoration: none; }

.slider .tns-nav {
  position: relative;
  margin: 10px 0;
  margin-top: -40px;
  text-align: center; }

.slider .tns-nav > [aria-controls] {
  width: 67px;
  height: 4px;
  margin: 0 10px;
  -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.31);
          box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.31);
  background-color: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer; }

.slider .tns-nav > .tns-nav-active {
  background-color: #1d521a; }

.slider .tns-controls {
  z-index: 1;
  position: absolute;
  top: 170px;
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.slider .tns-controls [aria-controls] {
  width: 33px;
  height: 33px;
  font-size: 0;
  background-image: url("../img/icon-arrow.png");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  outline: none; }
  .slider .tns-controls [aria-controls]:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.14);
            box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.14); }

.slider .tns-controls [aria-controls]:nth-of-type(2) {
  float: right;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

@media (max-width: 1169px) {
  .slider {
    width: 547px;
    margin-bottom: 64px; }
  .slider__item {
    min-height: 305px;
    padding-left: 170px;
    padding-top: 71px;
    padding-right: 20px;
    background-image: url("../img/slider-tablet.jpg"); }
  .slider__item-title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px; }
  .slider__item-text {
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 16px; }
  .slider .tns-nav {
    margin: 10px 0;
    margin-top: -50px; }
  .slider .tns-nav > [aria-controls] {
    width: 52px; } }

@media (max-width: 545px) {
  .slider {
    width: 320px;
    margin-bottom: 31px;
    padding: 0; }
  .slider__item {
    min-height: 204px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-top: 229px;
    padding-right: 10px;
    background-image: url("../img/slider-mobile.jpg"); }
  .slider__item-title {
    margin-bottom: 6px;
    font-size: 16px;
    text-align: center; }
  .slider__item-text {
    margin-bottom: 20px;
    text-align: center; }
  .slider__item-text br {
    display: none; }
  .slider .tns-nav {
    margin-top: 0; }
  .slider .tns-nav > [aria-controls] {
    width: 40px;
    margin: 0 6px; }
  .slider__item-btn {
    display: block;
    float: none;
    width: 150px;
    margin: 0 auto; } }

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 0;
  list-style: none; }

.catalog__list-item {
  display: block;
  width: 195px;
  height: 72px;
  margin-right: 41px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.31);
          box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.31);
  background-color: #ffffff; }
  .catalog__list-item:nth-child(5n) {
    margin-right: 0; }

.catalog__list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 68px;
  padding-right: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #1e521a;
  background-repeat: no-repeat; }

.catalog__list-item--pine a {
  background-image: url("../img/pine.jpg");
  background-position: 2px 18px; }

.catalog__list-item--deciduous-trees a {
  background-image: url("../img/deciduous-trees.jpg");
  background-position: 2px 21px; }

.catalog__list-item--deciduous-shrubs a {
  background-image: url("../img/deciduous-shrubs.jpg");
  background-position: 2px 19px; }

.catalog__list-item--fruit-trees a {
  background-image: url("../img/fruit-trees.jpg");
  background-position: 0 21px; }

.catalog__list-item--fruit-bushes a {
  background-image: url("../img/fruit-bushes.jpg");
  background-position: 3px 19px; }

.catalog__list-item--perennials a {
  background-image: url("../img/perennials.jpg");
  background-position: 0px 19px; }

.catalog__list-item--heather-plants a {
  background-image: url("../img/heather-plants.jpg");
  background-position: 3px 19px; }

.catalog__list-item--creepers a {
  background-image: url("../img/creepers.jpg");
  background-position: 1px 20px; }

.catalog__list-item--roses a {
  background-image: url("../img/roses.jpg");
  background-position: 1px 20px; }

.catalog__list-item--moldedplants a {
  background-image: url("../img/moldedplants.jpg");
  background-position: 5px 20px; }

.catalog__list-item--garden-products a {
  background-image: url("../img/garden-products.jpg");
  background-position: 2px 21px; }

.catalog__list-item--soils-and-fertilizers a {
  background-image: url("../img/soils-and-fertilizers.jpg");
  background-position: 0 20px; }

.catalog__list-item--water-plants a {
  background-image: url("../img/water-plants.jpg");
  background-position: 11px 15px; }

.catalog__list-item--gift-certificates a {
  background-image: url("../img/gift-certificates.jpg");
  background-position: 3px 22px; }

@media (max-width: 1169px) {
  .catalog__list-item {
    width: 118px;
    height: 99px;
    margin-right: 12px;
    margin-bottom: 12px; }
    .catalog__list-item:nth-child(5n) {
      margin-right: 12px; }
    .catalog__list-item:nth-child(4n) {
      margin-right: 0; }
  .catalog__list-item a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 45px;
    text-align: center; }
  .catalog__list-item--pine a {
    padding-top: 30px;
    background-position: 27px 9px; }
  .catalog__list-item--deciduous-trees a {
    background-position: 28px 10px; }
  .catalog__list-item--deciduous-shrubs a {
    background-position: 26px 9px; }
  .catalog__list-item--fruit-trees a {
    background-position: 26px 10px; }
  .catalog__list-item--fruit-bushes a {
    background-position: 27px 9px; }
  .catalog__list-item--perennials a {
    padding-top: 30px;
    background-position: 24px 10px; }
  .catalog__list-item--heather-plants a {
    background-position: 29px 6px; }
  .catalog__list-item--creepers a {
    padding-top: 30px;
    background-position: 24px 9px; }
  .catalog__list-item--roses a {
    padding-top: 30px;
    background-position: 28px 11px; }
  .catalog__list-item--moldedplants a {
    background-position: 26px 10px; }
  .catalog__list-item--garden-products a {
    background-position: 27px 13px; }
  .catalog__list-item--soils-and-fertilizers a {
    background-position: 26px 13px; }
  .catalog__list-item--water-plants {
    margin-left: auto;
    margin-right: 13px; }
  .catalog__list-item--water-plants a {
    background-position: 36px 7px; }
  .catalog__list-item--gift-certificates {
    margin-right: auto; }
  .catalog__list-item--gift-certificates a {
    background-position: 26px 14px; } }

@media (max-width: 545px) {
  .catalog__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 320px;
    padding: 0 7px; }
  .catalog__list-item {
    width: 148px;
    height: 60px;
    margin-right: 0;
    margin-bottom: 10px; }
    .catalog__list-item:nth-child(5n) {
      margin-right: 0; }
    .catalog__list-item:nth-child(4n) {
      margin-right: 0; }
  .catalog__list-item {
    margin-left: 0; }
  .catalog__list-item a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 0;
    padding-left: 50px;
    text-align: left; }
  .catalog__list-item--pine a {
    padding-top: 0;
    background-position: -6px 12px; }
  .catalog__list-item--deciduous-trees a {
    background-position: -6px 12px; }
  .catalog__list-item--deciduous-shrubs a {
    background-position: -7px 9px; }
  .catalog__list-item--fruit-trees a {
    background-position: -9px 13px; }
  .catalog__list-item--fruit-bushes a {
    background-position: -10px 12px; }
  .catalog__list-item--perennials a {
    background-position: -10px 13px; }
  .catalog__list-item--heather-plants a {
    background-position: -6px 13px; }
  .catalog__list-item--creepers a {
    background-position: -12px 14px; }
  .catalog__list-item--roses a {
    background-position: -4px 14px;
    background-size: 61px auto; }
  .catalog__list-item--moldedplants a {
    background-position: -11px 12px; }
  .catalog__list-item--garden-products a {
    background-position: 2px 18px;
    background-size: 48px auto; }
  .catalog__list-item--soils-and-fertilizers a {
    background-position: -10px 13px; }
  .catalog__list-item--water-plants a {
    background-position: 3px 11px;
    background-size: 45px auto; }
  .catalog__list-item--gift-certificates a {
    background-position: -2px 18px;
    background-size: 50px auto; } }
